<div class="page">
<div class="page-wrapper">
  {{#if prev}}
  <a class="extend prev" rel="next" href="{{page_url prev}}">
    <i class="iconfont icon-back"></i>
  </a>
  {{else}}
  <a class="extend prev disabled" rel="next" href="javascript:void(0)">
    <i class="iconfont icon-back"></i>
  </a>
  {{/if}}
  <span class="page-block">{{page}} / {{pages}}</span>
  {{#if next}}
  <a class="extend next" rel="next" href="{{page_url next}}">
    <i class="iconfont icon-enter"></i>
  </a>
  {{else}}
  <a class="extend next disabled" rel="next" href="javascript:void(0)">
    <i class="iconfont icon-enter"></i>
  </a>
  {{/if}}
</div>
</div>
