<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "dist/css/onepice.min.css"}}"/>
    {{ghost_head}}
</head>
<body>

{{> sections/header }}
{{> sections/nav }}

{{{body}}}
{{> sections/footer}}

<script type="text/javascript" src="{{asset "vendors/jquery-2.1.4.min.js"}}"></script>

{{ghost_foot}}

{{!--vendors--}}
<script type="text/javascript" src="{{asset "vendors/highlight.js"}}"></script>
<script type="text/javascript" src="{{asset "dist/js/onepice.min.js"}}"></script>
{{> scripts/comment }}
{{> scripts/share }}

</body>
</html>