{{!< default}}
<section class="main">
<div class="article">
  {{#foreach posts}}
  <div class="article-wrapper">
    <h2>
      <a href="{{url}}">{{title}}</a>
    </h2>
    <div class="basic">
      <ul>
        <li><a href="javascript:void(0)">发布于{{date format='YYYY/MM/DD'}}</a></li>
      </ul>
    </div>
    <div class="essential">
      {{excerpt}}
    </div>
    <a class="readall" href="{{url}}">阅读全文</a>
  </div>
  {{/foreach}}
</div>
{{ pagination }}
</section>
{{> "sections/side" }}
