{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{#post}}
<section class="main">
	<div class="main-inner">
		<div class="content">
			<article class="widget message">
				<header class="widget-header">
					<h2 class="widget-title">
						{{title}}
					</h2>
					<div class="hr-line"></div>
				</header>
				<section class="widget-body">
					{{content}}
				</section>
				<section class="widget-footer">
                    <!-- 多说评论框 start -->
                    <div id="duoshuo_thread" class="ds-thread" data-thread-key="{{uuid}}" data-title="{{title}}" data-url="{{url absolute="true"}}" style="display:none"></div>
                    <!-- 多说评论框 end -->

                    <div id="disqus_thread" style="display:none"></div>
				</section>
			</article>
		</div>
	</div>
</section>
{{/post}}
