{{!< default}}
<section class="main post__wrap">
{{#post}}
<div class="article">
  <div class="article-wrapper">
    <h1>
      <a href="#">{{title}}</a>
    </h1>
    <div class="basic">
      <ul>
        <li><a href="javascript:void(0)">发布于{{date published_at format="YYYY/MM/DD"}}</a></li>
        <li><a href="javascript:void(0)">更新于{{date updated_at format="YYYY/MM/DD"}}</a></li>
      </ul>
    </div>
    <div class="detail">
      {{ content }}
    </div>
    <div class="tags">
      {{#foreach tags}}
      <a href="{{url}}"><i class="iconfont icon-attachment"></i>{{name}}</a>
      {{/foreach}}
    </div>
    <div class="share">
      <div class="info">
        <div>原文地址: <input type="text" value="{{@blog.url}}{{url}}"></div>
        <div>文中错误的地方，期待指正；觉得文章还行，欢迎分享～</div>
      </div>
      <div class="social-share" data-wechat-qrcode-title="请打开微信扫一扫"></div>
    </div>
    <ul class="link">
      <li>
        <span>上一篇: </span>
        {{#prev_post}}
        <a class="prev" href="{{url}}">
          <span class="title">{{title}}</span>
        </a>
        {{else}}
        <span>已是最新一篇<i class="iconfont icon-xiaolian"></i></span>
        {{/prev_post}}
      </li>
      <li>
        <span>下一篇: </span>
        {{#next_post}}
        <a class="next" href="{{url}}">
          <span class="title">{{title}}</span>
        </a>
        {{else}}
        <span>已是最后一篇<i class="iconfont icon-xiaolian"></i></span>
        {{/next_post}}
      </li>
    </ul>
    <div id="SOHUCS" sid="{{comment_id}}"></div>
  </div>
</div>
{{/post}}
</section>
