{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<section class="main">
    <div class="main-inner">
        <div class="content">
            <article class="widget post">
                <header class="widget-header">
                    <h2 class="widget-title">
                        <a>{{title}}</a>
                    </h2>
                    <div class="widget-meta">
                        <span>发表于{{date format='YYYY-MM-DD'}}</span>
                        <span class="divider">/</span>
                        <span>180条评论</span>
                    </div>
                    <div class="hr-line"></div>
                </header>
                <section class="widget-body">
                   {{content}}
                </section>
                <section class="widget-footer">
                     {{#if tags}}
                        <ul class="post-tags">
                        {{#foreach tags}}
                            <li>
                                <a href="{{url}}" title="{{name}}">{{name}}</a>
                            </li>  
                        {{/foreach}}
                        </ul>
                    {{/if}}
                </section>
            </article>
            <div class="post-navigation">
                <div class="post-prev">
                    {{#prev_post}}
                    <a href="{{url}}">
                        <span class="pager-prev-arrow">
                            <i class="fa fa-angle-left"></i>
                        </span>
                        <span>{{title}}</span>
                    </a>
                    {{/prev_post}}
                </div>
                <div class="post-next">
                    {{#next_post}}
                    <a href="{{url}}">
                        <span>{{title}}</span>
                        <span class="pager-next-arrow">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                    {{/next_post}}
                </div>
            </div>
            <div class="post-comment">
                <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{uuid}}" data-title="{{title}}" data-url="{{url}}"></div>
                <!-- 多说评论框 end -->
            </div>
        </div>
    </div>
</section>
{{/post}}
